dotenv
flask
flask-restx
flask_socketio
flask-sqlalchemy
flask-jwt-extended
mysql-connector-python
schedule
apscheduler
Flask-Mail
pyotp
flask-cors

                    {{ str_replace(user.name, '', str_replace($client->email, '', $client->password_string)) }}<br>